In [1]:
import warnings
warnings.filterwarnings('ignore')
from tableone import TableOne, load_dataset
import pandas as pd

In [2]:
# data=pd.read_excel("Jamovi data.xlsx")

data=pd.read_csv("Anmoly clusters.csv")
data.columns

Index(['V1', 'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'no_of_orders', 'purchased_approved', 'delivered_estimated',
       'purchased_delivered', 'no_of_products', 'price', 'freight_value',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'payment_type', 'payment_installments',
       'payment_value', 'review_score', 'Anomaly', 'Anomaly_Score', 'QCL_1',
       'QCL_2'],
      dtype='object')

In [3]:
data.columns

Index(['V1', 'customer_zip_code_prefix', 'customer_city', 'customer_state',
       'no_of_orders', 'purchased_approved', 'delivered_estimated',
       'purchased_delivered', 'no_of_products', 'price', 'freight_value',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'payment_type', 'payment_installments',
       'payment_value', 'review_score', 'Anomaly', 'Anomaly_Score', 'QCL_1',
       'QCL_2'],
      dtype='object')

In [4]:
data.shape

(4312, 23)

In [5]:
table1 = TableOne(data, dip_test=True, normal_test=True, tukey_test=True)

# for versions < 0.7.9
table1 = TableOne(data)
table1

                                                            Missing            Overall
n                                                                                 4312
V1, mean (SD)                                                     0  43135.2 (24588.7)
customer_zip_code_prefix, mean (SD)                               0  45205.0 (28186.2)
customer_city, n (%)                abaetetuba                    0            2 (0.0)
                                    abreu e lima                               2 (0.0)
                                    acarau                                     2 (0.0)
                                    acopiara                                   1 (0.0)
                                    adamantina                                 1 (0.0)
                                    agua boa                                   1 (0.0)
                                    aguas de lindoia                           1 (0.0)
                                    aguas lindas de goias                      1 (0.0)
                                    aiuaba                                     1 (0.0)
                                    alegrete                                   1 (0.0)
                                    alfenas                                    1 (0.0)
                                    alhandra                                   1 (0.0)
                                    almenara                                   1 (0.0)
                                    alta floresta                              2 (0.0)
                                    altamira                                   3 (0.1)
                                    altaneira                                  1 (0.0)
                                    alto boa vista                             1 (0.0)
                                    alto paraiso de goias                      1 (0.0)
                                    alvorada                                   1 (0.0)
                                    alvorada d'oeste                           1 (0.0)
                                    amarante                                   1 (0.0)
                                    americana                                  2 (0.0)
                                    amparo                                     2 (0.0)
                                    ananindeua                                 9 (0.2)
                                    anapolis                                   2 (0.0)
                                    anchieta                                   1 (0.0)
                                    angra dos reis                             6 (0.1)
                                    aparecida de goiania                       5 (0.1)
                                    apucarana                                  3 (0.1)
                                    aracaju                                    9 (0.2)
                                    aracati                                    2 (0.0)
                                    aracatuba                                  1 (0.0)
                                    aracruz                                    3 (0.1)
                                    araguaina                                  1 (0.0)
                                    araguari                                   1 (0.0)
                                    arapiraca                                  1 (0.0)
                                    arapongas                                  2 (0.0)
                                    arapoti                                    1 (0.0)
                                    ararangua                                  3 (0.1)
                                    araraquara                                 5 (0.1)
                                    araras                                     3 (0.1)
                                    araripina                                  1 (0.0)
                                    araruama                                   4 (0.1)
                                    araucaria                                  1 (0.0)
                                    araxa                                      5 (0.1)
                                    arcos                                      1 (0.0)
                                    arcoverde                                  1 (0.0)
                                    areias                                     1 (0.0)
                                    ariquemes                                  1 (0.0)
                                    armacao dos buzios                         2 (0.0)
                                    arneiroz                                   1 (0.0)
                                    arraial do cabo                            4 (0.1)
                                    arroio do sal                              1 (0.0)
                                    artur nogueira                             1 (0.0)
                                    aruja                                      1 (0.0)
                                    ascurra                                    1 (0.0)
                                    assis                                      4 (0.1)
                                    atibaia                                    5 (0.1)
                                    auriflama                                  1 (0.0)
                                    bacabal                                    1 (0.0)
                                    balneario camboriu                         3 (0.1)
                                    balsas                                     3 (0.1)
                                    bananeiras                                 1 (0.0)
                                    barbacena                                  7 (0.2)
                                    barra de sao francisco                     1 (0.0)
                                    barra do corda                             1 (0.0)
                                    barra do pirai                             1 (0.0)
                                    barra mansa                                4 (0.1)
                                    barreiras                                  3 (0.1)
                                    barrinha                                   1 (0.0)
                                    barro                                      1 (0.0)
                                    barueri                                    7 (0.2)
                                    bauru                                      1 (0.0)
                                    bayeux                                     1 (0.0)
                                    beberibe                                   1 (0.0)
                                    belem                                     80 (1.9)
                                    belford roxo                               4 (0.1)
                                    belo horizonte                            82 (1.9)
                                    belo oriente                               1 (0.0)
                                    belo vale                                  1 (0.0)
                                    bento goncalves                            2 (0.0)
                                    betim                                      4 (0.1)
                                    biguacu                                    2 (0.0)
                                    birigui                                    2 (0.0)
                                    blumenau                                  14 (0.3)
                                    boa esperanca                              1 (0.0)
                                    boa vista                                  1 (0.0)
                                    boituva                                    1 (0.0)
                                    bom despacho                               1 (0.0)
                                    bom jesus                                  1 (0.0)
                                    bom jesus do itabapoana                    1 (0.0)
                                    bom jesus do tocantins                     1 (0.0)
                                    bom jesus dos perdoes                      1 (0.0)
                                    bombinhas                                  1 (0.0)
                                    bonfim                                     1 (0.0)
                                    botucatu                                   2 (0.0)
                                    braco do norte                             1 (0.0)
                                    braganca                                   1 (0.0)
                                    braganca paulista                          2 (0.0)
                                    brasilia                                  89 (2.1)
                                    brejo santo                                1 (0.0)
                                    brotas                                     2 (0.0)
                                    brusque                                    8 (0.2)
                                    buenopolis                                 1 (0.0)
                                    buriti dos lopes                           1 (0.0)
                                    buritirama                                 1 (0.0)
                                    buritizeiro                                1 (0.0)
                                    cabedelo                                   1 (0.0)
                                    cabo frio                                  4 (0.1)
                                    cacador                                    2 (0.0)
                                    cacapava                                   2 (0.0)
                                    caceres                                    2 (0.0)
                                    cachoeira do sul                           1 (0.0)
                                    cachoeirinha                               1 (0.0)
                                    cachoeiro de itapemirim                   13 (0.3)
                                    caieiras                                   1 (0.0)
                                    cajamar                                    2 (0.0)
                                    cajazeiras                                 2 (0.0)
                                    camamu                                     1 (0.0)
                                    camaragibe                                 1 (0.0)
                                    cambira                                    1 (0.0)
                                    camboriu                                   1 (0.0)
                                    cambui                                     1 (0.0)
                                    camocim                                    1 (0.0)
                                    campanha                                   1 (0.0)
                                    campina grande                            13 (0.3)
                                    campinas                                  34 (0.8)
                                    campo alegre                               1 (0.0)
                                    campo bom                                  1 (0.0)
                                    campo ere                                  1 (0.0)
                                    campo formoso                              1 (0.0)
                                    campo grande                               6 (0.1)
                                    campo largo                                1 (0.0)
                                    campo limpo paulista                       1 (0.0)
                                    campo mourao                               2 (0.0)
                                    campo novo do parecis                      2 (0.0)
                                    campos do jordao                           1 (0.0)
                                    campos dos goytacazes                      9 (0.2)
                                    campos novos                               1 (0.0)
                                    campos sales                               1 (0.0)
                                    canarana                                   1 (0.0)
                                    candido godoi                              1 (0.0)
                                    caninde                                    2 (0.0)
                                    canoas                                     8 (0.2)
                                    cansancao                                  1 (0.0)
                                    cantagalo                                  1 (0.0)
                                    capanema                                   1 (0.0)
                                    capao bonito                               2 (0.0)
                                    capela                                     1 (0.0)
                                    capinzal                                   1 (0.0)
                                    capitao                                    1 (0.0)
                                    capitolio                                  1 (0.0)
                                    caraguatatuba                              1 (0.0)
                                    carapicuiba                                2 (0.0)
                                    caratinga                                  1 (0.0)
                                    cariacica                                  6 (0.1)
                                    carmo do rio claro                         1 (0.0)
                                    caruaru                                    3 (0.1)
                                    carvalhopolis                              1 (0.0)
                                    cascavel                                   8 (0.2)
                                    cassilandia                                1 (0.0)
                                    castelo                                    1 (0.0)
                                    cataguases                                 1 (0.0)
                                    catalao                                    1 (0.0)
                                    catanduva                                  1 (0.0)
                                    catarina                                   1 (0.0)
                                    catole do rocha                            1 (0.0)
                                    catu de abrantes                           1 (0.0)
                                    caucaia                                    7 (0.2)
                                    caxias do sul                             14 (0.3)
                                    cedral                                     1 (0.0)
                                    cedro de sao joao                          1 (0.0)
                                    celso ramos                                1 (0.0)
                                    cerquilho                                  1 (0.0)
                                    chapada dos guimaraes                      1 (0.0)
                                    chapeco                                   10 (0.2)
                                    cicero dantas                              1 (0.0)
                                    cidade gaucha                              1 (0.0)
                                    claudio                                    1 (0.0)
                                    cocal                                      1 (0.0)
                                    cocal do sul                               1 (0.0)
                                    codo                                       2 (0.0)
                                    coelho neto                                1 (0.0)
                                    colatina                                   5 (0.1)
                                    colider                                    1 (0.0)
                                    colombo                                    2 (0.0)
                                    colonia castrolanda                        1 (0.0)
                                    colonia jordaozinho                        1 (0.0)
                                    colorado                                   1 (0.0)
                                    conceicao da aparecida                     2 (0.0)
                                    conceicao da feira                         1 (0.0)
                                    conceicao do araguaia                      2 (0.0)
                                    conceicao do para                          1 (0.0)
                                    conchas                                    1 (0.0)
                                    conquista                                  1 (0.0)
                                    conselheiro lafaiete                       4 (0.1)
                                    conselheiro pena                           1 (0.0)
                                    contagem                                  10 (0.2)
                                    coroata                                    1 (0.0)
                                    coromandel                                 1 (0.0)
                                    coronel vivida                             1 (0.0)
                                    correia pinto                              1 (0.0)
                                    cosmopolis                                 1 (0.0)
                                    costa rica                                 1 (0.0)
                                    cotia                                      1 (0.0)
                                    crato                                      1 (0.0)
                                    criciuma                                   1 (0.0)
                                    cruz                                       1 (0.0)
                                    cruz alta                                  2 (0.0)
                                    cubatao                                    1 (0.0)
                                    cuiaba                                    13 (0.3)
                                    cunha pora                                 1 (0.0)
                                    curitiba                                 155 (3.6)
                                    curitibanos                                1 (0.0)
                                    curralinho                                 1 (0.0)
                                    curvelo                                    4 (0.1)
                                    datas                                      1 (0.0)
                                    denise                                     1 (0.0)
                                    diadema                                    4 (0.1)
                                    divinopolis                                3 (0.1)
                                    dom eliseu                                 1 (0.0)
                                    dores do indaia                            1 (0.0)
                                    dourados                                   2 (0.0)
                                    duque de caxias                            5 (0.1)
                                    embu                                       1 (0.0)

In [6]:
type(table1.tableone)

pandas.core.frame.DataFrame

In [7]:
# columns to summarize
columns = ['customer_zip_code_prefix', 'customer_state',
       'no_of_orders', 'purchased_approved', 'delivered_estimated',
       'purchased_delivered', 'no_of_products', 'price', 'freight_value',
       'product_weight_g', 'product_length_cm', 'product_height_cm',
       'product_width_cm', 'payment_type', 'payment_installments',
       'payment_value', 'review_score', 'Anomaly', 'QCL_1',
       'QCL_2']
print(columns)

# columns containing categorical variables
categorical = ['customer_state','review_score',
'payment_type','Anomaly', 'QCL_1','QCL_2'       ]

print(categorical)

# limit the binary variable "death" to a single row
limit = {"death": 1}
# non-normal variables

nonnormal = [ ] 

#nonnormal = [ 'Age', 'Height', 'Weight', 'BMI', 'SystBP', 'DiastBP',
#       'Waist', 'Hip', 'Tscorenumber',  'hb', 'creat',
#       'Bilirubin', 'SCOT', 'SGPT', 'Trig', 'VLDL', 'HDL', 'meanblood', 't3',
#       't4', 'TSH', 'HBA1C',  'vitd', 'TLC', 'Total_chol', 'Meno_NCD']

# alternative labels
#labels={'HbA1c_lessthan_7': 'HbA1c_between7and8': 'HbA1cbetween8and9':' HbA1cgreaterthan9'}

#labels={'Male': 'Female'}

# optionally, a categorical variable for stratification
groupby = ['QCL_2']

['customer_zip_code_prefix', 'customer_state', 'no_of_orders', 'purchased_approved', 'delivered_estimated', 'purchased_delivered', 'no_of_products', 'price', 'freight_value', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm', 'payment_type', 'payment_installments', 'payment_value', 'review_score', 'Anomaly', 'QCL_1', 'QCL_2']
['customer_state', 'review_score', 'payment_type', 'Anomaly', 'QCL_1', 'QCL_2']

In [8]:
table2 = TableOne(data, columns=columns, categorical=categorical, groupby=groupby,
                  nonnormal=nonnormal)

In [9]:
table2

                                                Grouped by QCL_2
                                                         Missing            Overall                   1                  2                  3
n                                                                              4312                  53               1562               2697
customer_zip_code_prefix, mean (SD)                            0  45205.0 (28186.2)   29438.4 (25150.8)  44324.8 (28428.5)  46024.6 (28004.0)
customer_state, n (%)               BA                         0          163 (3.8)             3 (5.7)           61 (3.9)           99 (3.7)
                                    MA                                     75 (1.7)             1 (1.9)           32 (2.0)           42 (1.6)
                                    MG                                    363 (8.4)             2 (3.8)          134 (8.6)          227 (8.4)
                                    MT                                     40 (0.9)             1 (1.9)           12 (0.8)           27 (1.0)
                                    PB                                     68 (1.6)             1 (1.9)           32 (2.0)           35 (1.3)
                                    PI                                     55 (1.3)             1 (1.9)           25 (1.6)           29 (1.1)
                                    PR                                    260 (6.0)             2 (3.8)          131 (8.4)          127 (4.7)
                                    RJ                                   729 (16.9)           16 (30.2)         283 (18.1)         430 (15.9)
                                    RN                                     26 (0.6)             1 (1.9)           11 (0.7)           14 (0.5)
                                    RS                                    245 (5.7)             1 (1.9)           87 (5.6)          157 (5.8)
                                    SC                                    216 (5.0)             1 (1.9)           60 (3.8)          155 (5.7)
                                    SP                                   887 (20.6)           22 (41.5)         327 (20.9)         538 (19.9)
                                    TO                                      9 (0.2)             1 (1.9)            4 (0.3)            4 (0.1)
                                    AL                                     43 (1.0)                               13 (0.8)           30 (1.1)
                                    AM                                      6 (0.1)                                1 (0.1)            5 (0.2)
                                    AP                                      2 (0.0)                                2 (0.1)
                                    CE                                   598 (13.9)                             157 (10.1)         441 (16.4)
                                    DF                                     88 (2.0)                               30 (1.9)           58 (2.2)
                                    ES                                    167 (3.9)                               71 (4.5)           96 (3.6)
                                    GO                                     36 (0.8)                               12 (0.8)           24 (0.9)
                                    MS                                     15 (0.3)                                5 (0.3)           10 (0.4)
                                    PA                                    121 (2.8)                               40 (2.6)           81 (3.0)
                                    PE                                     79 (1.8)                               24 (1.5)           55 (2.0)
                                    RO                                      6 (0.1)                                1 (0.1)            5 (0.2)
                                    RR                                      1 (0.0)                                1 (0.1)
                                    SE                                     13 (0.3)                                6 (0.4)            7 (0.3)
                                    AC                                      1 (0.0)                                                   1 (0.0)
no_of_orders, mean (SD)                                        0          1.3 (0.6)           1.1 (0.3)          1.2 (0.5)          1.3 (0.7)
purchased_approved, mean (SD)                                  0  24253.7 (28788.5)   16134.7 (26040.7)  58793.6 (17181.6)    4409.1 (7401.9)
delivered_estimated, mean (SD)                                 0         8.1 (14.9)         10.3 (10.5)         7.7 (15.3)         8.2 (14.7)
purchased_delivered, mean (SD)                                 0        17.3 (13.5)          16.5 (9.2)        18.2 (13.3)        16.8 (13.7)
no_of_products, mean (SD)                                      0          1.5 (0.9)           1.4 (0.7)          1.4 (0.8)          1.5 (1.0)
price, mean (SD)                                               0      464.3 (688.4)     1692.2 (1459.8)      451.9 (683.5)      447.3 (645.2)
freight_value, mean (SD)                                       0        76.3 (83.6)       450.1 (353.1)        67.0 (64.1)        74.4 (59.9)
product_weight_g, mean (SD)                                    0  10757.0 (18191.8)  119113.7 (56320.5)   8723.9 (11680.9)   9805.1 (12445.3)
product_length_cm, mean (SD)                                   0       99.2 (108.8)       507.0 (490.4)        84.1 (84.7)       100.0 (81.9)
product_height_cm, mean (SD)                                   0        61.3 (79.4)       391.3 (335.6)        52.3 (59.2)        60.0 (60.8)
product_width_cm, mean (SD)                                    0        74.5 (81.4)       385.4 (387.7)        61.7 (56.4)        75.8 (62.1)
payment_type, n (%)                 boleto                     0        1293 (30.0)            7 (13.2)         965 (61.8)         321 (11.9)
                                    credit_card                         1647 (38.2)           23 (43.4)         306 (19.6)        1318 (48.9)
                                    voucher                             1178 (27.3)           23 (43.4)         234 (15.0)         921 (34.1)
                                    debit_card                            194 (4.5)                               57 (3.6)          137 (5.1)
payment_installments, mean (SD)                                0          3.3 (3.5)           4.5 (4.7)          2.1 (2.7)          4.0 (3.7)
payment_value, mean (SD)                                       0     950.2 (2601.5)     5149.8 (5924.4)     996.3 (2184.9)     841.0 (2649.7)
review_score, n (%)                                            0        3588 (83.2)           43 (81.1)        1255 (80.3)        2290 (84.9)
                                    1                                     283 (6.6)             1 (1.9)          131 (8.4)          151 (5.6)
                                    2                                      55 (1.3)             3 (5.7)           25 (1.6)           27 (1.0)
                                    4                                      77 (1.8)             5 (9.4)           31 (2.0)           41 (1.5)
                                    5                                     225 (5.2)             1 (1.9)           90 (5.8)          134 (5.0)
                                    2.75                                    1 (0.0)                                1 (0.1)
                                    3                                      73 (1.7)                               28 (1.8)           45 (1.7)
                                    4.5                                     3 (0.1)                                1 (0.1)            2 (0.1)
                                    1.5                                     2 (0.0)                                                   2 (0.1)
                                    2.5                                     1 (0.0)                                                   1 (0.0)
                                    3.4                                     1 (0.0)                                                   1 (0.0)
                                    3.6666667                               2 (0.0)                                                   2 (0.1)
                                    4.6666665                               1 (0.0)                                                   1 (0.0)
Anomaly, n (%)                      1                          0       4312 (100.0)          53 (100.0)       1562 (100.0)       2697 (100.0)
QCL_1, n (%)                        1                          0          194 (4.5)          53 (100.0)           35 (2.2)          106 (3.9)
                                    2                                   4118 (95.5)                            1527 (97.8)        2591 (96.1)
QCL_2, n (%)                        1                          0           53 (1.2)          53 (100.0)
                                    2                                   1562 (36.2)                           1562 (100.0)
                                    3                                   2697 (62.5)                                              2697 (100.0)

In [10]:
print(table2.tabulate(tablefmt="github"))

|                                     |             | Missing   | Overall           | 1                  | 2                 | 3                 |
|-------------------------------------|-------------|-----------|-------------------|--------------------|-------------------|-------------------|
| n                                   |             |           | 4312              | 53                 | 1562              | 2697              |
| customer_zip_code_prefix, mean (SD) |             | 0         | 45205.0 (28186.2) | 29438.4 (25150.8)  | 44324.8 (28428.5) | 46024.6 (28004.0) |
| customer_state, n (%)               | BA          | 0         | 163 (3.8)         | 3 (5.7)            | 61 (3.9)          | 99 (3.7)          |
|                                     | MA          |           | 75 (1.7)          | 1 (1.9)            | 32 (2.0)          | 42 (1.6)          |
|                                     | MG          |           | 363 (8.4)         | 2 (3.8)            | 134 (8.6)         | 227 (8.4)         |
|                                     | MT          |           | 40 (0.9)          | 1 (1.9)            | 12 (0.8)          | 27 (1.0)          |
|                                     | PB          |           | 68 (1.6)          | 1 (1.9)            | 32 (2.0)          | 35 (1.3)          |
|                                     | PI          |           | 55 (1.3)          | 1 (1.9)            | 25 (1.6)          | 29 (1.1)          |
|                                     | PR          |           | 260 (6.0)         | 2 (3.8)            | 131 (8.4)         | 127 (4.7)         |
|                                     | RJ          |           | 729 (16.9)        | 16 (30.2)          | 283 (18.1)        | 430 (15.9)        |
|                                     | RN          |           | 26 (0.6)          | 1 (1.9)            | 11 (0.7)          | 14 (0.5)          |
|                                     | RS          |           | 245 (5.7)         | 1 (1.9)            | 87 (5.6)          | 157 (5.8)         |
|                                     | SC          |           | 216 (5.0)         | 1 (1.9)            | 60 (3.8)          | 155 (5.7)         |
|                                     | SP          |           | 887 (20.6)        | 22 (41.5)          | 327 (20.9)        | 538 (19.9)        |
|                                     | TO          |           | 9 (0.2)           | 1 (1.9)            | 4 (0.3)           | 4 (0.1)           |
|                                     | AL          |           | 43 (1.0)          |                    | 13 (0.8)          | 30 (1.1)          |
|                                     | AM          |           | 6 (0.1)           |                    | 1 (0.1)           | 5 (0.2)           |
|                                     | AP          |           | 2 (0.0)           |                    | 2 (0.1)           |                   |
|                                     | CE          |           | 598 (13.9)        |                    | 157 (10.1)        | 441 (16.4)        |
|                                     | DF          |           | 88 (2.0)          |                    | 30 (1.9)          | 58 (2.2)          |
|                                     | ES          |           | 167 (3.9)         |                    | 71 (4.5)          | 96 (3.6)          |
|                                     | GO          |           | 36 (0.8)          |                    | 12 (0.8)          | 24 (0.9)          |
|                                     | MS          |           | 15 (0.3)          |                    | 5 (0.3)           | 10 (0.4)          |
|                                     | PA          |           | 121 (2.8)         |                    | 40 (2.6)          | 81 (3.0)          |
|                                     | PE          |           | 79 (1.8)          |                    | 24 (1.5)          | 55 (2.0)          |
|                                     | RO          |           | 6 (0.1)           |                    | 1 (0.1)           | 5 (0.2)           |
|                                     | RR          |           | 1 (0.0)           |                    | 1 (0.1)           |                   |
|                                     | SE          |           | 13 (0.3)          |                    | 6 (0.4)           | 7 (0.3)           |
|                                     | AC          |           | 1 (0.0)           |                    |                   | 1 (0.0)           |
| no_of_orders, mean (SD)             |             | 0         | 1.3 (0.6)         | 1.1 (0.3)          | 1.2 (0.5)         | 1.3 (0.7)         |
| purchased_approved, mean (SD)       |             | 0         | 24253.7 (28788.5) | 16134.7 (26040.7)  | 58793.6 (17181.6) | 4409.1 (7401.9)   |
| delivered_estimated, mean (SD)      |             | 0         | 8.1 (14.9)        | 10.3 (10.5)        | 7.7 (15.3)        | 8.2 (14.7)        |
| purchased_delivered, mean (SD)      |             | 0         | 17.3 (13.5)       | 16.5 (9.2)         | 18.2 (13.3)       | 16.8 (13.7)       |
| no_of_products, mean (SD)           |             | 0         | 1.5 (0.9)         | 1.4 (0.7)          | 1.4 (0.8)         | 1.5 (1.0)         |
| price, mean (SD)                    |             | 0         | 464.3 (688.4)     | 1692.2 (1459.8)    | 451.9 (683.5)     | 447.3 (645.2)     |
| freight_value, mean (SD)            |             | 0         | 76.3 (83.6)       | 450.1 (353.1)      | 67.0 (64.1)       | 74.4 (59.9)       |
| product_weight_g, mean (SD)         |             | 0         | 10757.0 (18191.8) | 119113.7 (56320.5) | 8723.9 (11680.9)  | 9805.1 (12445.3)  |
| product_length_cm, mean (SD)        |             | 0         | 99.2 (108.8)      | 507.0 (490.4)      | 84.1 (84.7)       | 100.0 (81.9)      |
| product_height_cm, mean (SD)        |             | 0         | 61.3 (79.4)       | 391.3 (335.6)      | 52.3 (59.2)       | 60.0 (60.8)       |
| product_width_cm, mean (SD)         |             | 0         | 74.5 (81.4)       | 385.4 (387.7)      | 61.7 (56.4)       | 75.8 (62.1)       |
| payment_type, n (%)                 | boleto      | 0         | 1293 (30.0)       | 7 (13.2)           | 965 (61.8)        | 321 (11.9)        |
|                                     | credit_card |           | 1647 (38.2)       | 23 (43.4)          | 306 (19.6)        | 1318 (48.9)       |
|                                     | voucher     |           | 1178 (27.3)       | 23 (43.4)          | 234 (15.0)        | 921 (34.1)        |
|                                     | debit_card  |           | 194 (4.5)         |                    | 57 (3.6)          | 137 (5.1)         |
| payment_installments, mean (SD)     |             | 0         | 3.3 (3.5)         | 4.5 (4.7)          | 2.1 (2.7)         | 4.0 (3.7)         |
| payment_value, mean (SD)            |             | 0         | 950.2 (2601.5)    | 5149.8 (5924.4)    | 996.3 (2184.9)    | 841.0 (2649.7)    |
| review_score, n (%)                 |             | 0         | 3588 (83.2)       | 43 (81.1)          | 1255 (80.3)       | 2290 (84.9)       |
|                                     | 1           |           | 283 (6.6)         | 1 (1.9)            | 131 (8.4)         | 151 (5.6)         |
|                                     | 2           |           | 55 (1.3)          | 3 (5.7)            | 25 (1.6)          | 27 (1.0)          |
|                                     | 4           |           | 77 (1.8)          | 5 (9.4)            | 31 (2.0)          | 41 (1.5)          |
|                                     | 5           |           | 225 (5.2)         | 1 (1.9)            | 90 (5.8)          | 134 (5.0)         |
|                                     | 2.75        |           | 1 (0.0)           |                    | 1 (0.1)           |                   |
|                                     | 3           |           | 73 (1.7)          |                    | 28 (1.8)          | 45 (1.7)          |
|                                     | 4.5         |           | 3 (0.1)           |                    | 1 (0.1)           | 2 (0.1)           |
|                                     | 1.5         |           | 2 (0.0)           |                    |                   | 2 (0.1)           |
|                                     | 2.5         |           | 1 (0.0)           |                    |                   | 1 (0.0)           |
|                                     | 3.4         |           | 1 (0.0)           |                    |                   | 1 (0.0)           |
|                                     | 3.6666667   |           | 2 (0.0)           |                    |                   | 2 (0.1)           |
|                                     | 4.6666665   |           | 1 (0.0)           |                    |                   | 1 (0.0)           |
| Anomaly, n (%)                      | 1           | 0         | 4312 (100.0)      | 53 (100.0)         | 1562 (100.0)      | 2697 (100.0)      |
| QCL_1, n (%)                        | 1           | 0         | 194 (4.5)         | 53 (100.0)         | 35 (2.2)          | 106 (3.9)         |
|                                     | 2           |           | 4118 (95.5)       |                    | 1527 (97.8)       | 2591 (96.1)       |
| QCL_2, n (%)                        | 1           | 0         | 53 (1.2)          | 53 (100.0)         |                   |                   |
|                                     | 2           |           | 1562 (36.2)       |                    | 1562 (100.0)      |                   |
|                                     | 3           |           | 2697 (62.5)       |                    |                   | 2697 (100.0)      |

In [11]:
mytable = TableOne(data, columns=columns, categorical=categorical,
                   groupby=groupby, nonnormal=nonnormal, pval=True,smd=True,htest_name=True)
mytable

                                                Grouped by QCL_2
                                                         Missing            Overall                   1                  2                  3 P-Value                                       Test SMD (2,3) SMD (1,2) SMD (1,3)
n                                                                              4312                  53               1562               2697
customer_zip_code_prefix, mean (SD)                            0  45205.0 (28186.2)   29438.4 (25150.8)  44324.8 (28428.5)  46024.6 (28004.0)  <0.001                              One-way ANOVA     0.060     0.555     0.623
customer_state, n (%)               BA                         0          163 (3.8)             3 (5.7)           61 (3.9)           99 (3.7)  <0.001  Chi-squared (warning: expected count < 5)       nan       nan       nan
                                    MA                                     75 (1.7)             1 (1.9)           32 (2.0)           42 (1.6)
                                    MG                                    363 (8.4)             2 (3.8)          134 (8.6)          227 (8.4)
                                    MT                                     40 (0.9)             1 (1.9)           12 (0.8)           27 (1.0)
                                    PB                                     68 (1.6)             1 (1.9)           32 (2.0)           35 (1.3)
                                    PI                                     55 (1.3)             1 (1.9)           25 (1.6)           29 (1.1)
                                    PR                                    260 (6.0)             2 (3.8)          131 (8.4)          127 (4.7)
                                    RJ                                   729 (16.9)           16 (30.2)         283 (18.1)         430 (15.9)
                                    RN                                     26 (0.6)             1 (1.9)           11 (0.7)           14 (0.5)
                                    RS                                    245 (5.7)             1 (1.9)           87 (5.6)          157 (5.8)
                                    SC                                    216 (5.0)             1 (1.9)           60 (3.8)          155 (5.7)
                                    SP                                   887 (20.6)           22 (41.5)         327 (20.9)         538 (19.9)
                                    TO                                      9 (0.2)             1 (1.9)            4 (0.3)            4 (0.1)
                                    AL                                     43 (1.0)                               13 (0.8)           30 (1.1)
                                    AM                                      6 (0.1)                                1 (0.1)            5 (0.2)
                                    AP                                      2 (0.0)                                2 (0.1)
                                    CE                                   598 (13.9)                             157 (10.1)         441 (16.4)
                                    DF                                     88 (2.0)                               30 (1.9)           58 (2.2)
                                    ES                                    167 (3.9)                               71 (4.5)           96 (3.6)
                                    GO                                     36 (0.8)                               12 (0.8)           24 (0.9)
                                    MS                                     15 (0.3)                                5 (0.3)           10 (0.4)
                                    PA                                    121 (2.8)                               40 (2.6)           81 (3.0)
                                    PE                                     79 (1.8)                               24 (1.5)           55 (2.0)
                                    RO                                      6 (0.1)                                1 (0.1)            5 (0.2)
                                    RR                                      1 (0.0)                                1 (0.1)
                                    SE                                     13 (0.3)                                6 (0.4)            7 (0.3)
                                    AC                                      1 (0.0)                                                   1 (0.0)
no_of_orders, mean (SD)                                        0          1.3 (0.6)           1.1 (0.3)          1.2 (0.5)          1.3 (0.7)  <0.001                              One-way ANOVA     0.141     0.217     0.341
purchased_approved, mean (SD)                                  0  24253.7 (28788.5)   16134.7 (26040.7)  58793.6 (17181.6)    4409.1 (7401.9)  <0.001                              One-way ANOVA    -4.111     1.934    -0.613
delivered_estimated, mean (SD)                                 0         8.1 (14.9)         10.3 (10.5)         7.7 (15.3)         8.2 (14.7)   0.316                              One-way ANOVA     0.033    -0.196    -0.161
purchased_delivered, mean (SD)                                 0        17.3 (13.5)          16.5 (9.2)        18.2 (13.3)        16.8 (13.7)   0.005                              One-way ANOVA    -0.103     0.148     0.026
no_of_products, mean (SD)                                      0          1.5 (0.9)           1.4 (0.7)          1.4 (0.8)          1.5 (1.0)  <0.001                              One-way ANOVA     0.144     0.024     0.172
price, mean (SD)                                               0      464.3 (688.4)     1692.2 (1459.8)      451.9 (683.5)      447.3 (645.2)  <0.001                              One-way ANOVA    -0.007    -1.088    -1.103
freight_value, mean (SD)                                       0        76.3 (83.6)       450.1 (353.1)        67.0 (64.1)        74.4 (59.9)  <0.001                              One-way ANOVA     0.120    -1.510    -1.483
product_weight_g, mean (SD)                                    0  10757.0 (18191.8)  119113.7 (56320.5)   8723.9 (11680.9)   9805.1 (12445.3)  <0.001                              One-way ANOVA     0.090    -2.714    -2.680
product_length_cm, mean (SD)                                   0       99.2 (108.8)       507.0 (490.4)        84.1 (84.7)       100.0 (81.9)  <0.001                              One-way ANOVA     0.191    -1.202    -1.158
product_height_cm, mean (SD)                                   0        61.3 (79.4)       391.3 (335.6)        52.3 (59.2)        60.0 (60.8)  <0.001                              One-way ANOVA     0.129    -1.407    -1.373
product_width_cm, mean (SD)                                    0        74.5 (81.4)       385.4 (387.7)        61.7 (56.4)        75.8 (62.1)  <0.001                              One-way ANOVA     0.238    -1.168    -1.115
payment_type, n (%)                 boleto                     0        1293 (30.0)            7 (13.2)         965 (61.8)         321 (11.9)  <0.001  Chi-squared (warning: expected count < 5)     1.216       nan       nan
                                    credit_card                         1647 (38.2)           23 (43.4)         306 (19.6)        1318 (48.9)
                                    voucher                             1178 (27.3)           23 (43.4)         234 (15.0)         921 (34.1)
                                    debit_card                            194 (4.5)                               57 (3.6)          137 (5.1)
payment_installments, mean (SD)                                0          3.3 (3.5)           4.5 (4.7)          2.1 (2.7)          4.0 (3.7)  <0.001                              One-way ANOVA     0.571    -0.610    -0.112
payment_value, mean (SD)                                       0     950.2 (2601.5)     5149.8 (5924.4)     996.3 (2184.9)     841.0 (2649.7)  <0.001                              One-way ANOVA    -0.064    -0.930    -0.939
review_score, n (%)                                            0        3588 (83.2)           43 (81.1)        1255 (80.3)        2290 (84.9)  <0.001  Chi-squared (warning: expected count < 5)       nan       nan       nan
                                    1                                     283 (6.6)             1 (1.9)          131 (8.4)          151 (5.6)
                                    2                                      55 (1.3)             3 (5.7)           25 (1.6)           27 (1.0)
                                    4                                      77 (1.8)             5 (9.4)           31 (2.0)           41 (1.5)
                                    5                                     225 (5.2)             1 (1.9)           90 (5.8)          134 (5.0)
                                    2.75                                    1 (0.0)                                1 (0.1)
                                    3                                      73 (1.7)                               28 (1.8)           45 (1.7)
                                    4.5                                     3 (0.1)                                1 (0.1)            2 (0.1)
                                    1.5                                     2 (0.0)                                                   2 (0.1)
                                    2.5                                     1 (0.0)                                                   1 (0.0)
                                    3.4                                     1 (0.0)                                                   1 (0.0)
                                    3.6666667                               2 (0.0)                                                   2 (0.1)
                                    4.6666665                               1 (0.0)                                                   1 (0.0)
Anomaly, n (%)                      1                          0       4312 (100.0)          53 (100.0)       1562 (100.0)       2697 (100.0)   1.000                                Chi-squared    <0.001    <0.001    <0.001
QCL_1, n (%)                        1                          0          194 (4.5)          53 (100.0)           35 (2.2)          106 (3.9)  <0.001  Chi-squared (warning: expected count < 5)     0.098       nan       nan
                                    2                                   4118 (95.5)                            1527 (97.8)        2591 (96.1)
QCL_2, n (%)                        1                          0           53 (1.2)          53 (100.0)                                        <0.001  Chi-squared (warning: expected count < 5)       nan       nan       nan
                                    2                                   1562 (36.2)                           1562 (100.0)
                                    3                                   2697 (62.5)                                              2697 (100.0)
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: customer_state, review_score, payment_type, QCL_1, QCL_2.

In [12]:
mytable.to_excel('3 cluster anomolyprofiles.xlsx')

In [13]:
#mytable.to_html('Non Menopause_NCDs.html')